<header class="py-4 text-center text-bg-light">
  <h1>StoryHaven</h1>
  <p class="lead">Explora, crea y comparte historias inolvidables</p>
</header>

<main class="container my-5">
  <section class="text-center">
    <p class="fs-5">
      StoryHaven es el lugar donde la creatividad cobra vida. Descubre relatos
      fascinantes, escribe tus propias historias y compártelas con la comunidad.
    </p>
  </section>

  <section class="mt-4 text-center row">
    <div class="col-md-4">
      <h3>Explorar</h3>
      <p>Sumérgete en un mundo de historias de diversos géneros y autores.</p>
      <a routerLink="/relatos" class="btn btn-primary">Ver Biblioteca</a>
    </div>
    <div class="col-md-4">
      <h3>Crear</h3>
      <p>Da rienda suelta a tu imaginación y publica tus propias obras.</p>
      <a routerLink="/relatoAdd" class="btn btn-success">Escribir Historia</a>
    </div>
    <div class="col-md-4">
      <h3>Compartir</h3>
      <p>Interactúa con otros escritores y recibe comentarios.</p>
      <a href="#" class="btn btn-warning">Unirse a la Comunidad</a>
    </div>
  </section>
</main>
