<header class="py-4 text-center text-bg-light">
  <h1>StoryHaven</h1>
  <p class="lead">Explora, crea y comparte historias inolvidables</p>
</header>

<main class="container my-5">
  <section class="mb-5 text-center">
    <div class="p-4 rounded shadow-sm bg-light">
      <p class="fs-5">
        StoryHaven es el lugar donde la creatividad cobra vida. Descubre relatos
        fascinantes, escribe tus propias historias y compártelas con la comunidad.
      </p>
    </div>
  </section>

  <section class="mt-4 text-center row justify-content-center">
    <div class="mb-4 col-md-5">
      <div class="shadow card">
        <div class="card-body">
          <h3 class="card-title">Explorar</h3>
          <p class="card-text">Sumérgete en un mundo de historias de diversos géneros y autores.</p>
          <a routerLink="/relatos" class="btn btn-primary">Ver Biblioteca</a>
        </div>
      </div>
    </div>
    <div class="mb-4 col-md-5">
      <div class="shadow card">
        <div class="card-body">
          <h3 class="card-title">Crear</h3>
          <p class="card-text">Da rienda suelta a tu imaginación y publica tus propias obras.</p>
          <a routerLink="/relatoAdd" class="btn btn-success">Escribir Historia</a>
        </div>
      </div>
    </div>
  </section>
</main>