<div class="container mt-5">
  <div class="mb-4 text-center">
    <h1>📖 Mis Relatos 📖</h1>
    <p class="lead">
      Aquí podrás ver todos los relatos que has creado. Sigue escribiendo y
      compartiendo tus historias con el mundo.
    </p>
  </div>

  <div *ngIf="relatos.length > 0; else noRelatos">
    <div class="table-responsive">
      <table class="table mt-4 align-middle table-striped table-hover">
        <thead class="text-center table-dark">
          <tr>
            <th>Título</th>
            <th>Resumen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let relato of relatos
                | paginate
                  : { itemsPerPage: itemsPorPagina, currentPage: paginaActual }
            "
          >
            <td class="fw-bold text-primary text-wrap">{{ relato.titulo }}</td>
            <td class="text-wrap">{{ relato.resumen }}</td>
            <td class="text-center">
              <div
                class="flex-wrap gap-2 d-flex flex-md-nowrap justify-content-center"
              >
                <a
                  [routerLink]="['/relato', relato.id]"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="bi bi-eye"></i> Leer
                </a>
                <button class="btn btn-sm btn-outline-secondary">
                  <i class="bi bi-pencil"></i> Modificar
                </button>
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="eliminarRelato(relato.id)"
                >
                  <i class="bi bi-trash"></i> Eliminar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paginación -->
    <div class="my-4 d-flex justify-content-center">
      <pagination-controls
        (pageChange)="paginaActual = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [maxSize]="3"
      >
      </pagination-controls>
    </div>
  </div>

  <!-- Mensaje cuando no hay relatos -->
  <ng-template #noRelatos>
    <div class="text-center alert alert-info">
      <i class="bi bi-exclamation-circle"></i> No tienes relatos aún.
    </div>
  </ng-template>
</div>
