<nav class="px-4 navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Logo y nombre de la web -->
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/images/logo.png"
      width="40"
      height="30"
      class="align-top d-inline-block"
      alt="Logo"
    />
    StoryHaven
  </a>

  <!-- Botón para colapsar el navbar en pantallas pequeñas -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Elementos del navbar -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <!-- ms-auto para alinear a la derecha -->
      <!-- Enlace a Explorar -->
      <li class="nav-item">
        <a class="nav-link" href="#">Explorar</a>
      </li>

      <!-- Enlace a Mi Biblioteca -->
      <li class="nav-item">
        <a class="nav-link" href="#">Mi Biblioteca</a>
      </li>

      <!-- Enlace a Perfil o Login/Register -->
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
    </ul>
  </div>
</nav>
