/* Establecer el fondo global */
body {
  background: url('assets/images/fondo.jpg') no-repeat center center fixed; /* Ruta correcta */
  background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar padding por defecto */
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la app ocupe toda la pantalla */
}

main {
  flex: 1; /* Empuja el footer hacia abajo cuando el contenido es corto */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-xl-custom {
  max-width: 900px !important; /* Aumenta el ancho */
  width: 90% !important; /* Que se adapte al tamaño de la pantalla */
}
